@use '../variables' as *;

// Helper to convert straight number to percentage
@function convertify($number) {
  @if type-of($number) == 'number' and unitless($number) {
    @return calc((#{$number} / #{$grid-column-count}) * 100%);
  }

  @return $number;
}

// Rows
@mixin row($gutter: $grid-gutter, $direction: ltr, $align: null, $justify: null, $wrap: wrap) {
  display: flex;
  flex-wrap: $wrap;

  align-items: $align;
  justify-content: $justify;

  margin-left: calc(#{$gutter} / 2 * -1);
  margin-right: calc(#{$gutter} / 2 * -1);

  @if $direction == ltr {
    flex-direction: row;
  } @else {
    flex-direction: row-reverse;
  }

  > * {
    flex: none;

    padding-left: calc(#{$gutter} / 2);
    padding-right: calc(#{$gutter} / 2);
  }
}

// Columns
@mixin col($width: 100%, $align: null) {
  align-self: $align;
  width: convertify($width);
}

// Offsets
@mixin offset-left($offset: 1) {
  margin-left: convertify($offset);
}

@mixin offset-right($offset: 1) {
  margin-right: convertify($offset);
}
