@use "sass:math";
@use '../variables' as *;

// Grid layout
@mixin grid($column-count: $grid-column-count, $column-gap: $grid-gutter, $row-gap: $grid-gutter) {
  --column-count: #{$column-count};
  display: grid;
  row-gap: $row-gap;
  // math to prevent grid column gap from causing grid to overflow
  column-gap: min(#{$column-gap}, calc(100% / (#{$column-count} - 1)));
  grid-template-columns: repeat(#{$column-count}, minmax(0, 1fr));
}

@mixin grid-auto($min-size: 40rem, $column-gap: $grid-gutter, $row-gap: $grid-gutter) {
  display: grid;
  row-gap: $row-gap;
  // math to prevent grid column gap from causing grid to overflow
  column-gap: min(#{$column-gap}, calc(100% / (#{$column-count} - 1)));
  grid-template-columns: repeat(#{$column-count}, minmax(0, 1fr));
}

// Columns
@mixin grid-span($colspan: 1) {
  grid-column: span clamp(1, #{$colspan}, var(--column-count));
}

// Helper to convert straight number to percentage
@function convertify($number) {
  @if type-of($number) == 'number' and unitless($number) {
    @return percentage(math.div($number, 12));
  }

  @return $number;
}

@mixin flex-container-full($gutter: $container-gutter) {
  padding-left: 2rem;
  padding-right: 2rem;

  @media (min-width: $min-tablet) {
    padding-left: $grid-gutter;
    padding-right:$grid-gutter;
  }
}

@mixin flex-container($gutter: $container-gutter) {
  @include flex-container-full($gutter);
  margin: 0 auto;
  max-width: $page-width;
  box-sizing: content-box;
}

@mixin flex-container-offset-left($gutter-offset: $container-gutter-offset) {
  margin-left: min(
    #{$gutter-offset},
    calc((100vw - #{$page-width} - var(--scrollbar-width, 0px)) / -2)
  );
}

@mixin flex-container-offset-right($gutter-offset: $container-gutter-offset) {
  margin-right: min(
    #{$gutter-offset},
    calc((100vw - #{$page-width} - var(--scrollbar-width, 0px)) / -2)
  );
}

@mixin container-offset() {
  @include flex-container-offset-left;
  @include flex-container-offset-right;
}



// Rows
@mixin grid-row(
  $direction: ltr,
  $align: stretch,
  $justify: flex-start,
  $grid-gutter: $grid-gutter,
  $wrap: wrap
) {
  display: flex;
  flex-wrap: $wrap;

  align-items: $align;
  justify-content: $justify;

  margin-left: math.div(-2rem, 2);
  margin-right: math.div(-2rem, 2);

  @if $direction == ltr {
    flex-direction: row;
  } @else {
    flex-direction: row-reverse;
  }
}

// Columns
@mixin grid-col($width: 100%, $align: stretch, $grid-gutter: 4rem) {
  flex: none;
  align-self: $align;

  padding-left: math.div(2rem, 2);
  padding-right: math.div(2rem, 2);

  width: convertify($width);
}

// Offsets
@mixin grid-offset-left($offset: 1) {
  margin-left: convertify($offset);
}

@mixin grid-offset-right($offset: 1) {
  margin-right: convertify($offset);
}

// Offsets
@mixin grid-offset-left($offset: 1) {
  margin-left: convertify($offset);
}

@mixin grid-offset-right($offset: 1) {
  margin-right: convertify($offset);
}
