@use 'sass:selector';

@mixin reset-all {
  @at-root #{selector.append(':where(#{&})')} {
    all: unset;
    display: revert;
    box-sizing: border-box;

    @content;
  }
}

@mixin reset-heading {
  @include reset-all;
}

@mixin reset-paragraph {
  @include reset-all;
}

@mixin reset-list {
  @include reset-all {
    list-style: none;
  }
}

@mixin reset-button {
  @include reset-all {
    color: inherit;

    background: transparent;
    appearance: none;

    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

    &:focus {
      outline: none;
    }
  }
}

@mixin reset-input {
  @at-root #{selector.append(':where(#{&})')} {
    all: revert;
    font: unset;
    border: unset;
    overflow-wrap: default;
    border-radius: unset;
    box-sizing: border-box;
    appearance: none;

    &:focus {
      outline: none;
    }
  }
}

@mixin reset-anchor {
  @include reset-all {
    text-decoration: none;
    cursor: pointer;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

    &:focus {
      outline: none;
    }
  }
}
