@use '../variables' as *;

@mixin container-full($gutter: $container-gutter) {
  padding-left: $gutter;
  padding-right: $gutter;
}

@mixin container($gutter: $container-gutter) {
  @include container-full($gutter);
  margin: 0 auto;
  max-width: $page-width;
  box-sizing: content-box;
}

@mixin container-offset-left($gutter-offset: $container-gutter-offset) {
  margin-left: min(
    #{$gutter-offset},
    calc((100vw - #{$page-width} - var(--scrollbar-width, 0px)) / -2)
  );
}

@mixin container-offset-right($gutter-offset: $container-gutter-offset) {
  margin-right: min(
    #{$gutter-offset},
    calc((100vw - #{$page-width} - var(--scrollbar-width, 0px)) / -2)
  );
}

@mixin container-offset() {
  @include container-offset-left;
  @include container-offset-right;
}
