@use "sass:math";

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }

  @return $number;
}

@function responsive($size-min: 1.4rem, $size-max: 2rem, $width-min: 48rem, $width-max: 128rem) {
  @if ($size-min == $size-max) {
    @return $size-min;
  }

  $sizeDiff: strip-unit($size-max) - strip-unit($size-min);
  $rangeDiff: strip-unit($width-max) - strip-unit($width-min);

  @if $size-min < $size-max {
    $inter: calc(#{$size-min} + #{$sizeDiff} * ((100vw - #{$width-min}) / #{$rangeDiff}));
    @return clamp(#{$size-min}, #{$inter}, #{$size-max});
  } @else {
    $inter: calc(#{$size-max} + #{$sizeDiff} * ((100vw - #{$width-max}) / #{$rangeDiff}));
    @return clamp(#{$size-max}, #{$inter}, #{$size-min});
  }
}
