@forward './mixins/reset';
@forward './mixins/responsive';
@forward './mixins/z-index';
@forward './mixins/brand';
@forward './mixins/segment';
@forward './mixins/grid';
@forward './mixins/grid-container';
@forward './mixins/typography';


@mixin fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin grain {
  content: '';
  @include fit;

  // background-image: url('/svg/noise.svg');
  background-size: 400px 400px;

  // background-size: 520px 520px;
  background-repeat: repeat;
  opacity: 0.65;
  mix-blend-mode: overlay;
}


// target specific selector for rule
@mixin qualify($element-selector) {
  @at-root #{&} {
    @content;
  }
}

@mixin when-is($args...) {
  @include qualify($args...) {
    @content;
  }
}
