@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

article >  {
  @apply flex flex-col;
}

article > section > h1 {
  @apply font-bold text-2xl pt-5 pb-2;
}

article > section > h2, h3, h4, h5, h6 {
  @apply font-bold text-xl pt-5 pb-2;
}

article > section > p {
  @apply pb-5;
}

article > section > img {
  @apply pb-5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}