@use 'config' as *;

:root {
  --color-font: #16171A;
  --color-background: #F9F9F9;
  --color-background-alt: #{brand()};
  --theme-rgb-color: #{rgbValues(#f8f7fb)};

  &.dark-mode {
    --color-font: #fff;
    --color-background: #222;
    --color-background-alt: #111;
  }
}

