@use './styles/config' as *;

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.overflow {
    // overflow-x: hidden;
  }

  &.banner {
  }

  transition: background-color 0.3s ease-in-out;

  &__main {
    background: $color-background;
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    border-bottom-left-radius:  4rem;
    border-bottom-right-radius: 4rem;
    margin-bottom: -5rem;

    @media (max-width: $max-tablet) {
      padding-top: 6.5rem;
    }

  }

  &__footerspace {
    display: block;
    height: var(--footerheight, 640px);
  }
}
