@use './styles/config' as *;
@use './styles/mixins/grid';

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  background-color: #16171A;

  padding-top: responsive(12rem, 25rem);

  color: $color-light;

  &__container {
    @include container;
    position: relative;
    overflow: visible;
  }

  &__layout {
    margin: responsive(2rem, 4rem) 0 4rem;
  }

  &__progress {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: red;
    transform-origin: 0%;
  }

  &__bottom {
    margin: responsive(4rem, 10rem) 0 responsive(2rem, 13rem);
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: $min-tablet) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__address {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2;
  }

  &__legal {
    grid-area: legal;

    margin-bottom: 3rem;

    @media (min-width: $min-tablet) {
      margin: 0;
    }

    &Wrap {
      display: flex;
      gap: 2.6rem;

      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.5;

      color: $color-gray;
    }

    &Link {
      @include reset-anchor;

      color: inherit;

      &:is(:hover) {
        color: $color-light;
      }

      &:is(:focus-visible) {
        outline: 2px solid $color-primary;
      }
    }
  }

  &__disclaimer {
    font-weight: 500;
    font-size: responsive(1.2rem, 1.4rem);
    line-height: 1.4;
    font-feature-settings: 'tnum' on, 'lnum' on;

    p {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $min-tablet) {
      flex-direction: row;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__social {
    grid-area: social;
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: responsive(2rem, 3.5rem);

    &Link {
      @include reset-anchor;

      color: inherit;
      transition: opacity 200ms;

      &:is(:hover) {
        opacity: 0.6;
      }

      &:is(:focus-visible) {
        outline: 2px solid $color-primary;
      }
    }

    svg {
      display: block;
      width: responsive(1.8rem, 2.4rem);
    }

    @media (min-width: $min-tablet) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__logo {
    display: none;
    grid-area: logo;

    svg {
      width: 3.3rem;
    }

    @media (min-width: $min-tablet) {
      display: block;
    }
  }

  &__logoMobile {
    display: block;
    margin-bottom: 3rem;

    @media (min-width: $min-tablet) {
      display: none;
    }

    svg {
      width: 3.3rem;
    }
  }

  &__heading {
    @include h2;
    margin-bottom: 3rem;

    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.96px;

    max-width: 12em;

    // color: #8B8E98;

    span {
      transition: opacity 0.2s linear;
    }

    &Wrap {
      position: relative;
    }
  }

  &__headingBase {
    @include h2;
    margin-bottom: 3rem;
    position: absolute;
    top: 0;
    left: 0;

    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.96px;

    max-width: 12em;
    color: #f9f9f9;

    span {
      opacity: 0;
      transition: opacity 0.2s linear;
    }
  }
  &__link {
    @include reset-anchor;
    transition: border 200ms;

    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: right;
    border-bottom: 1px solid transparent;

    color: #f9f9f9;

    &:is(:hover) {
      border-bottom: 1px solid #f9f9f9;
    }

    &:is(:focus-visible) {
      outline: 2px solid $color-primary;
    }
  }

  &__item {
    margin: 0.5rem 0 0;
  }

  &__logolink {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin: 0 0 1.5rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  &__list {
    @include reset-list;
    display: flex;
    flex-direction: column;
    text-align: left;

    margin-top: 3rem;

    @media (min-width: $min-tablet) {
      text-align: right;

      margin: 0;
      gap: 0;
    }
  }

  &__secondary {
    @include reset-list;
    display: flex;
    flex-direction: column;

    grid-area: secondary;
  }

  &__ternary {
    @include reset-list;
    display: flex;
    flex-direction: column;

    grid-area: ternary;
  }
}
