@use './styles/config' as *;

.languageControl {
  position: relative;

  &.up {
    text-align: center;
  }

  &__list {
    @include reset-list;
    position: absolute;
    z-index: 11;
    top: 60px;
    background-color: $color-background;

    text-align: left;

    width: 28rem;
    left: calc(50% - 14rem);

    padding: 2.2rem 3.2rem;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.16), 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
    border-radius: 16px;

    opacity: 0;

    &:after,
    &:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(249, 249, 249, 0);
      border-bottom-color: #f9f9f9;
      border-width: 12px;
      margin-left: -12px;
    }
    &:before {
      border-color: rgba(192, 198, 206, 0);
      border-bottom-color: rgba(192, 198, 206, 0.3);
      border-width: 13px;
      margin-left: -13px;
    }

    .up & {
      top: auto;
      bottom: 60px;

      &:after,
      &:before {
        bottom: auto;
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(249, 249, 249, 0);
        border-top-color: #f9f9f9;
        border-width: 12px;
        margin-left: -12px;
      }
      &:before {
        border-color: rgba(192, 198, 206, 0);
        border-top-color: rgba(192, 198, 206, 0.3);
        border-width: 13px;
        margin-left: -13px;
      }
    }
  }

  &__link {
    @include reset-anchor;
    display: inline-flex;
    position: relative;
    align-items: center;
    z-index: 1;

    padding: 0.75rem 2.8rem 1rem;

    font-weight: 600;
    font-size: 16px;

    color: inherit;

    @media (min-width: $min-tablet) {
      font-weight: 700;
      font-size: 14px;
    }

    .languageControl__icon {
      position: relative;
      margin-right: 0.5rem;
      stroke: #fff;
    }

    &:is(:focus-visible) {
      outline: 2px solid $color-primary;
    }

    &:is(:hover, :focus-visible) {
      color: #111;

      .languageControl__icon {
        stroke: black;
      }
    }

    &.active {
      border-bottom: 1px solid currentColor;
      color: #111;
      
      .languageControl__icon {
        stroke: black;
      }
    }

    &.chevron {
      padding-right: 1rem;
    }
  }

  &__listLink {
    display: block;
    padding: 0.7rem 0;
    color: #16171a;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    text-decoration: none;

    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }

  &__desktop {
    display: none;

    @media (min-width: $min-tablet) {
      display: inline-flex;
    }
  }

  &__mobile {
    @media (min-width: $min-tablet) {
      display: none;
    }
  }
}
