@use './styles/config' as *;
@use './styles/mixins/grid';


.sideMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  width: 100%;

  background: #F9F9F9;

  overflow: auto;

  &__logo {
    position: absolute;
    z-index: 1;
    top: 2.4rem;
    left: 2.2rem;

    svg {
      width: 4.7rem;
    }
  }

  &__heading {
    margin-top: 1rem;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.8px;

    max-width: 8em;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-top: 1px solid rgba(#DFDFDF, 0.15);

    margin-top: 6rem;

    padding: 2rem 0 1rem;
    min-height: calc(100% - 6rem);
  }

  &__list {
    @include reset-list;
  }

  &__close {
    @include reset-button;
    position: absolute;
    z-index: 1;
    top: 0.9rem;
    right: 0.6rem;
    padding: 1rem;
    cursor: pointer;

    transition: color 200ms;



  }

  &__cta {
    margin: 3rem auto;
    padding: 2.5rem 2.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 4rem;
  }

  &__signup {
    margin: 3rem 0 0;
  }

  &__container {
    @include container;
    position: relative;
    overflow: visible;
  }

  &__navigation {
    --grid-column-count: 2;
    @include grid.grid($row-gap: responsive(2rem, 4rem));
    grid-template-areas:
      'nav secondary'
      'ternary ternary';
  }


  &__list {
    @include reset-list;
    display: flex;
    flex-direction: column;

    grid-area: nav;


  }

  &__social {
    grid-area: social;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: responsive(2rem, 3.5rem);

    margin-left: 2.2rem;


    &Link {
      @include reset-anchor;

      color: #fff;
      transition: color 200ms;

      &:is(:hover, :focus-visible) {
        color: #f1f1f1; // tbd
      }
    }

    svg {
      display: block;
      width: 2rem;
    }

    @media (min-width: $min-tablet) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__secondary {
    @include reset-list;
    display: flex;
    flex-direction: column;

    grid-area: secondary;


  }

    &__link {
    @include reset-anchor;
    
    border-bottom: 1px solid transparent;
    transition: border 200ms;

    font-weight: 500;
    font-size: 1.6rem;

    color: #fff;

    &:is(:hover, :focus-visible) {
      border-bottom: 1px solid currentColor;
    }
  }

  &__title {
    margin: 0 0 1.5rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  &__ternary {
    @include reset-list;
    display: flex;
    flex-direction: column;

    grid-area: ternary;


  }

    &__link {
    @include reset-anchor;
    
    border-bottom: 1px solid transparent;
    transition: border 200ms;

    font-weight: 500;
    font-size: 1.6rem;

    color: #fff;
    opacity: 0.8;;

    &:is(:hover, :focus-visible) {
      border-bottom: 1px solid currentColor;
    }
  }


  &__item {
    margin: 1.5rem 0 0;
  }

}
